/* Personnalisation fine de la palette Slate */
[data-md-color-scheme="slate"] {
    /* Modifier la couleur de marque principale */
    --md-primary-fg-color:        #2a4365;
    --md-primary-fg-color--dark:  #1a202c;

    /* Modifier l'arrière-plan du mode sombre si le gris d'origine ne vous plaît pas */
    --md-default-bg-color:        #121214;
    --md-default-bg-color--light: #1a1a1e;

    /* Modifier la couleur du texte */
    --md-default-fg-color:        #e2e8f0;
}